body
{
	background: url("images/bg.jpg");
	background-size: 100%;
}

h3
{
	xbackground-color: #dddddd;
	xborder: 2px solid gray;
	border-radius: 20px;
	padding: 20px;
	margin: 20px;
}

#questiondisplay
{
	background-color: tan;
	border: 2px solid brown;
	border-radius: 20px;
	padding: 20px;
	margin: 20px;
}

#answerdisplay
{
	background-color: tan;
	border: 2px solid brown;
	border-radius: 20px;
	padding: 20px;
	margin: 20px;
}